.img-responsive {
  margin: 0 auto;
}
.main {
  background-color: red;
}
.navbar-brand {
  color: red;
}*/


.row {
  background-color: red;
  .col-sm-12 {
    /*.region-header {
      .col-md-12 {
        .carousel {
          .carousel-inner {
            .carousel-control.left {
              right: 0 !important;
            }
            .carousel-control {
              left: auto;
            }
            .carousel-control.right {
            }
          }
        }
      }
    }*/
  }
}

/*.carousel-control.left {
  right: 0 !important;
}
.carousel-control {
  left: auto;
}